
header {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 320px; 
}

header .logo {
    width: 800px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../assets/logo.png);

}

.menu {
    display: flex;
    gap: 15px;
    
}

.menu button {
    background-color: #ffffff;
    border: none;
    color: #4a0370;
    font-size: 16px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    font-weight:700;
}

.menu button:hover{
    background-color: rgba(186, 92, 249, 0.5);

}
    


.acessos {
    display: flex;
    gap: 15px;
  
}


.acessos{
    margin-left: auto; 
    padding: 5%;

}

.acessos .acesso {
    font-size: 16px;
    color: #fcf8ff; 
    background-color: #680fb0;
    border: none;
    border-radius: 10px;
    padding: 14px 20px; 
    margin-right: 5px;
    cursor: pointer; 
    font-family: 'Arial', 'Roboto'; 
    font-weight: bold; 
}

.acessos .acesso:hover{
    color: rgb(119, 6, 232);
    background-color: #ca9aee;
    
}



  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu {
      margin-top: 10px;
    }
  
    .acessos {
      margin-top: 10px;
    }
  }
  